<app-articles></app-articles>
<router-outlet></router-outlet>
<app-parent></app-parent>
<!-- 
<input [(ngModel)]="monthNo">
<div [ngSwitch]='monthNo'>
    <ng-container *ngFor="let m of months;let i = index">
        <div *ngSwitchCase="i+1"><span>{{m}}</span></div>
    </ng-container>
    <div *ngSwitchDefault>error</div>
</div>

<input placeholder="x" [(ngModel)]="x">
<div *ngIf="x%2==0; else eBlock">even</div>
<div>
    <ng-template #eBlock>odd</ng-template>
</div> -->
<!-- <input type="checkbox" [(ngModel)]='test'> color red on checked else blue
{{test}}
<div [ngClass]="{'x':test, 'y':!test}"></div>
<input placeholder="x" [(ngModel)]="x" type="number">

<div [ngStyle]="{'font-size.px':x}">hello</div> -->


<!-- <div>{{ourDate | date:'short'}}</div>



{{xx|json}}


{{txt|uppercase}} -->







