<router-outlet></router-outlet>
<!-- <p>to serve (run ) app ===> ng serve --open (ng s -o)</p> -->
<!-- one way binding -->
<!-- interpolation -->
<!-- {{title}} {{5+6}}
{{5>3}}
{{test()}}
{{title}} {{title}}
<p class="{{myClass}}"></p> -->
<!-- property binding -->
<!-- <img [src]="myImg" width="50" height="50"> 
<table>
    <tr>
        <td [attr.colspan]="cols"></td>
    </tr>
</table>
<div [innerHtml]="x"></div> -->
<!-- event binding -->
<!-- <div [class]="classN" (click)="changeMe()"></div> -->
<!-- {{test}}
<button (click)="showHideForm()">{{data}}</button>

<form [ngClass]='formClass'>
    <input (input)="handelInput($event)">
    <input>
</form> -->
<!-- <h2>{{myData}}</h2>
<input [(ngModel)]="myData"> -->
<app-photos></app-photos>







